main {
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content:space-between;
}
.Area{
    width: 200px;
    height: 200px;
    margin-right: 60px
}

.inpt {
    width: 200px;
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}